body{
    background: #000;
    margin: 0px;
    height: 100%;
    width: 98.5vw;
    font-family: 'Inconsolata', sans-serif;
    ;
}
.nav{
    display: flex;
    height: 100vh;
}
.left{
    width: 35vw;
    height: 100vh;
}
.right{
    width: 75vw;
    height: 100vh;
    justify-content: space-between;
}

.navbar{
    width: 25vw;
    height: 50px;
    
    justify-content: center;
    padding: 10px;
    color: white;
    background: #000;
    border-bottom-left-radius: 10px;
    
}

li{
    list-style: none;
    padding: 10px;
}

.profile {
    max-width: fit-content;
    margin-left: 38%;
    margin-right: 38%;
}
.about{
    height: 68vh;
    overflow-y: scroll;
}
div#about-head\ pad-l2{
    display: flex;
    align-items: center;
    font-size: 1.3rem;
}
.right-nav{
    justify-content: space-between;
    padding-left: 20px;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    flex-direction: column;
    margin-left: 40px;
    margin-top: 29px;
}
.line {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 282px;
    width: 2px;
    background-color: black;
    margin-top: 3px;
    background-color: #ffffff0f;
}
.line2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 48px;
    width: 2px;
    background-color: black;
    margin-top: 3px;
    background-color: #ffffff0f;
}
.bullet {
    width: 7px;
    height: 7px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #83de83;
}
.bullet:nth-child(1) {
    top: 0;
}
.bullet:nth-child(2) {
    top: 16%;
    transform: translate(-50%, -50%);
}
.bullet:nth-child(3) {
    top: 57%;
    transform: translate(-50%, -50%);
}
.bullet:nth-child(4) {
    bottom: 0;
}

.edu-detail{
    padding-bottom: 15px;
}
.exp-container {
    height: 77vh;
    overflow-y: scroll;
}

.bullet2 {
    width: 7px;
    height: 7px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #83de83
}

.bullet2:nth-child(1) {
    top: 0;
}
.bullet2:nth-child(2) {
    top: 91%;
    transform: translate(-50%, -50%);
}

.card{
    width: 300px;
    height: 300px;
    display: grid;
}

#blog-img{
    width: 270px;
    height: 170px;
    position: relative;
    padding: 10px;
}
.card-container{
    flex-wrap: wrap;
    overflow-y: scroll;
    height: 75vh;
}
h1#exp{
    padding-left: 10px;
}

.about-info.pad {
    font-family: 'Inconsolata', sans-serif;
}

.about-info-3 {
    padding-top: 25px;
    width: 407px;
    display: flex;
    flex-wrap: wrap;
    height: 230px;
    overflow-y: scroll;
}

p#skills {
    font-size: 1.7em;
}

.skill-img{
    width: 100px;
    height: 100px;
    padding-right: 30px;
    padding-bottom: 15px;
}

/* Scrollbar track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Scrollbar handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Scrollbar handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

/* Scrollbar width */
::-webkit-scrollbar {
    width: 12px;
}
.repo-card{
    background-color: #000;
    width: 200px;
    height: 300px;
    margin-left: 70px;
    margin-top: 100px;
    border-radius: 10%;
}

img#repo-img {
    width: 60px;
    margin-left: 70px;
    margin-top: 15px;
}

.github-body{
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    height: 71vh;
}